body{
	margin: 0;
	font-family: sans-serif;
}

.contenedor{
	padding: 150px;
	background-color: blue;
	position: relative;
}
.box{
	height: 60px;
	width: 200px;
	background-color: red;

	/* esto hace que cuando se haga un scroll, el div se mantenga fijo */
	position: fixed;
	right: 0;
	background-color: #fff;
	border: 1px solid #000;

}

/* position fixed, hace que se salga de su casilla, pero cuando se hace scroll, este se mantiene.

cuando nosotros usamos position:sticky, lo colocamos a cierta distancia y cuando llegue a esa distancia, se comporta como fixed, es decir, se queda estatico mientras hacemos scroll. */


/* aqui le estamos diciendo que cuando alcance la altura de 20px, ya se mantenga fijo */
.box{
	position: sticky;
	top: 20px;
	z-index: 40;
}