body{
	background-color: #fff;
	font-family: sans-serif;
	color: white;
}

.card{
	background: #6ac;
	text-align: center;
	width: 300px;
	margin: auto; /*Con el auto, centramos siempre de manera horizontal, es decir solo se encarga de realizar el centrado de manera horizontal, por lo cual debemos de tambien modificar en vertical.*/
	margin-top: 50px;
	padding: 20px 10px;
	box-shadow: 0px 0px 25px #0007;
	border-radius: 5px;
	display: inline-block;
	margin: 10px;

}
.blue-card{
	background: rgb(76, 221, 76);
}
.red-card{
	background: rgb(240, 88, 88);
}

.card_title{

	font-size: 22px;
	margin: 0;
}
.card_subtitle{
	font-size: 13px;
	font-weight: 100;
	letter-spacing: 2px;
	margin: 0;
	margin-top: 5px;
}
.card_content{
	font-size: 9px;
	padding: 10px 20px;
	padding-bottom: 0;
	text-align: justify;
	margin-bottom: 0;
}
.card_img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
